@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");

@import "tailwindcss";
@plugin "tailwindcss-motion";

.x #line1 {
  d: path("M6 6 L18 18");
}

.x #line2 {
  display: none;
}

.x #line3 {
  d: path("M6 18 L18 6");
}

@keyframes subtle-pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}

.animate-subtle-pop {
  animation: subtle-pop 1.2s ease-in-out;
}
